<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <description>Servlet para verificar los datos del usuario</description>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
        <init-param>
            <description>Conexion a la base de Datos</description>
            <param-name>user</param-name>
            <param-value>administrador</param-value>
        </init-param>
        <init-param>
            <description>Contrasena de la base de datos</description>
            <param-name>pass</param-name>
            <param-value>-4u6Uw$S:u4]7a0</param-value>
        </init-param>
        <init-param>
            <description>Nombre de la base de Datos</description>
            <param-name>base</param-name>
            <param-value>papas_san_jose</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Servlet para agregar a los Clientes</description>
        <servlet-name>AgregarCliente</servlet-name>
        <servlet-class>agregar.AgregarCliente</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>administrador</param-value>
        </init-param>
        <init-param>
            <param-name>pass</param-name>
            <param-value>-4u6Uw$S:u4]7a0</param-value>
        </init-param>
        <init-param>
            <param-name>base</param-name>
            <param-value>papas_san_jose</param-value>
        </init-param>
    </servlet>
    <servlet>
        <description>Servlet para agregar a los Empleados</description>
        <servlet-name>AgregarEmpleado</servlet-name>
        <servlet-class>agregar.AgregarEmpleado</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>administrador</param-value>
        </init-param>
        <init-param>
            <param-name>pass</param-name>
            <param-value>-4u6Uw$S:u4]7a0</param-value>
        </init-param>
        <init-param>
            <param-name>base</param-name>
            <param-value>papas_san_jose</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>AgregarProveedor</servlet-name>
        <servlet-class>agregar.AgregarProveedor</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>administrador</param-value>
        </init-param>
        <init-param>
            <param-name>pass</param-name>
            <param-value>-4u6Uw$S:u4]7a0</param-value>
        </init-param>
        <init-param>
            <param-name>base</param-name>
            <param-value>papas_san_jose</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Registrar</servlet-name>
        <servlet-class>compra.Registrar</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>administrador</param-value>
        </init-param>
        <init-param>
            <param-name>pass</param-name>
            <param-value>-4u6Uw$S:u4]7a0</param-value>
        </init-param>
        <init-param>
            <param-name>base</param-name>
            <param-value>papas_san_jose</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>RegistrarEntrega</servlet-name>
        <servlet-class>entrega.RegistrarEntrega</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>administrador</param-value>
        </init-param>
        <init-param>
            <param-name>pass</param-name>
            <param-value>-4u6Uw$S:u4]7a0</param-value>
        </init-param>
        <init-param>
            <param-name>base</param-name>
            <param-value>papas_san_jose</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>GenerarReporte</servlet-name>
        <servlet-class>reporte.GenerarReporte</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>administrador</param-value>
        </init-param>
        <init-param>
            <param-name>pass</param-name>
            <param-value>-4u6Uw$S:u4]7a0</param-value>
        </init-param>
        <init-param>
            <param-name>base</param-name>
            <param-value>papas_san_jose</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MostrarInventario</servlet-name>
        <servlet-class>inventario.MostrarInventario</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>administrador</param-value>
        </init-param>
        <init-param>
            <param-name>pass</param-name>
            <param-value>-4u6Uw$S:u4]7a0</param-value>
        </init-param>
        <init-param>
            <param-name>base</param-name>
            <param-value>papas_san_jose</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ModificarCliente</servlet-name>
        <servlet-class>modificar.ModificarCliente</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>administrador</param-value>
        </init-param>
        <init-param>
            <param-name>pass</param-name>
            <param-value>-4u6Uw$S:u4]7a0</param-value>
        </init-param>
        <init-param>
            <param-name>base</param-name>
            <param-value>papas_san_jose</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ModificarEmpleado</servlet-name>
        <servlet-class>modificar.ModificarEmpleado</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>administrador</param-value>
        </init-param>
        <init-param>
            <param-name>pass</param-name>
            <param-value>-4u6Uw$S:u4]7a0</param-value>
        </init-param>
        <init-param>
            <param-name>base</param-name>
            <param-value>papas_san_jose</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>ModificarProveedor</servlet-name>
        <servlet-class>modificar.ModificarProveedor</servlet-class>
        <init-param>
            <param-name>user</param-name>
            <param-value>administrador</param-value>
        </init-param>
        <init-param>
            <param-name>pass</param-name>
            <param-value>-4u6Uw$S:u4]7a0</param-value>
        </init-param>
        <init-param>
            <param-name>base</param-name>
            <param-value>papas_san_jose</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Error</servlet-name>
        <servlet-class>Error</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarCliente</servlet-name>
        <url-pattern>/AgregarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarEmpleado</servlet-name>
        <url-pattern>/AgregarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AgregarProveedor</servlet-name>
        <url-pattern>/AgregarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registrar</servlet-name>
        <url-pattern>/Registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarEntrega</servlet-name>
        <url-pattern>/RegistrarEntrega</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarReporte</servlet-name>
        <url-pattern>/GenerarReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MostrarInventario</servlet-name>
        <url-pattern>/MostrarInventario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarCliente</servlet-name>
        <url-pattern>/ModificarCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarEmpleado</servlet-name>
        <url-pattern>/ModificarEmpleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModificarProveedor</servlet-name>
        <url-pattern>/ModificarProveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Error</servlet-name>
        <url-pattern>/Error</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
</web-app>
